
  #section-1 .error-container {
    text-align: center;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 0 auto;
  }

  #section-1 h1 {
    font-size: 1.55rem;
    color: #333;
  }
  @media all and (max-width: 900px) {
    #section-1 h1 {
      font-size: 1.3rem;
    }
    #section-1 .error-container {
      width: auto;
    }
  }