


 #section-1 .crdsess5 {

    border-radius: 20px;
}

 #section-1 .crdsess5 .crdsess5-img {

    border-radius: 20px;
    width: 100%;
    object-fit: cover;
    height: 500px;
}

 #section-1 .crdsess5 .crdsess5-prt2 {
    line-height: 25px;
}

 #section-1 .crdsess5 button {
    color: #FFF !important;
    height: 51px;
    border: 1px solid #B5D0FF;
    border-radius: 20px;
    color: #347EFF;
    font-size: 1rem;
    background-color: #347EFF;
    width: 33%;
}


 #section-1 .crdsess5 {
    border-radius: 20px;
}
