/*
 * This file is for all generic CSS classes
 */
body.tunisiatrip,
body#page-subpage,
body#partners,
body#blog-page {
    font-family: 'noto', sans-serif;
}
#logtitre {
    opacity: 1;
    width: auto;
    height: auto;
}
#logimg {
    display: block;
    margin-right: 10px;
    width: 100%;
    height: 100%;
}
