@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}
.slick-prev {
    z-index: 5;
    margin-left: 5%;
}

.slick-next{
    margin-right:5%;
}
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    z-index: 5;
    font-family: 'slick';
    font-size: 19px;
    line-height: 1;

    opacity: .75;
    color: #6c757d;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -70px;

    display: block;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}

.slick-dots
{
    position: absolute;
    bottom: -82px;
    display: block;
    width: 100%;
    padding: 0;
    left: 170px;
    margin: 0;
    list-style: none;
    text-align: left;
}
@media all and (max-width: 767px) {

    .slick-dots {
        position: absolute;
        bottom: -60px;
        display: block;
        width: 100%;
        padding: 0;
        left: 0;
        margin: 0;
        text-align: center;
    }

    #section-3 .slick-dots {
        position: absolute;
        bottom: -80px;
        display: block;
        width: 100%;
        padding: 0;
        left: 0;
        margin: 0;
        text-align: center;
    }
    #section-5 .slick-dots {
        position: absolute;
        bottom: -70px;
        display: block;
        width: 100%;
        padding: 0;
        left: 0;
        margin: 0;
        text-align: center;
    }
}
#section-1 .slick-list .draggable{
    height: 100%;
}
#section-1.slick-track
{
    height: 100%;
}
.slick-dots li.slick-active button:before
{
    opacity: 1;
    color: #347EFF;
}
 .slick-dots li button:before
{
    font-family: 'slick';

    font-size: 16px;
    right: 10px;
    line-height: 20px;
    position: absolute;
    width: 20px;
    height: 20px;
    content: '•';

    margin-left: 6px;
    text-align: center;
    opacity: .25;
    color: #347EFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    margin-top: -242%;
    font-size: 20px;
    line-height: 20px;
    position: absolute;

    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #347EFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: 1;
    color: #347EFF;
}


 .slick-dots
{
    position: absolute;
    bottom: -90px;
    display: block;
    width: 100%;
    padding: 0;
    left: 0px;
    margin: 0;
    list-style: none;
    text-align: center;
}
@media all and (max-width: 767px) {


#section-1  .slick-dots {
    position: absolute;
    bottom: -82px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;

}
}

.slick-dots li.slick-active button:before
{
    opacity: 1;
    color: #615c5c;
}
 .slick-dots li button:before
{
    font-family: 'slick';

    font-size: 14px;
    left: 0;
    line-height: 20px;
    position: absolute;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #5d5a5a;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
