/* Variables */

:root {
    --statesblack-overlayfocused: 
  rgba(0, 0, 0, 0.122);
    --x00-on-surface--disabled: 
  rgba(0, 0, 0, 0.38);
    --x00-on-surface--medium-emphasis: 
  rgba(0, 0, 0, 0.6);
    --x00-on-surface--high-emphasis: 
  rgba(0, 0, 0, 0.871);
    --black: 
  rgba(0, 0, 0, 1);
    --x02-secondary700: 
  rgba(1, 135, 134, 1);
    --x02-secondary200: 
  rgba(3, 218, 197, 1);
    --surface-overlay: 
  rgba(33, 33, 33, 0.078);
    --log-cabin: 
  rgba(33, 33, 33, 1);
    --x01-primary700: 
  rgba(55, 0, 179, 1);
    --picton-blue: 
  rgba(59, 174, 255, 1);
    --x01-primary600: 
  rgba(86, 0, 232, 1);
    --x01-primary500: 
  rgba(98, 0, 238, 1);
    --neutral-colorstext-gray: 
  rgba(151, 149, 180, 1);
    --neutral-colorscolor-800: 
  rgba(172, 171, 194, 1);
    --error: 
  rgba(176, 0, 32, 1);
    --lavender: 
  rgba(187, 134, 252, 0.122);
    --neutral-colorscolor-300: 
  rgba(249, 248, 255, 1);
    --white-2: 
  rgba(255, 255, 255, 0.239);
    --x03-on-primary--disabled: 
  rgba(255, 255, 255, 0.38);
    --x03-on-primary--medium-emphasis: 
  rgba(255, 255, 255, 0.741);
    --white: 
  rgba(255, 255, 255, 0.871);
    --x03-on-primary--high-emphasis2: 
  rgba(255, 255, 255, 1);
  
    --font-size-xs: 15px;
    --font-size-s: 16px;
    --font-size-m: 18px;
    --font-size-xxxl: 56px;
    --font-size-l2: 20px;
    --font-size-l2: 28px;
    --font-size-xs2: 14px;
    --font-size-xl2: 48px;
  
    --font-family-dm_sans: "DM Sans";
    --font-family-pp_telegraf-regular: "PP Telegraf-Regular";
    --font-family-roboto: "Roboto";
    --font-family-roboto-bold: "Roboto-Bold";
    --font-family-roboto-medium: "Roboto-Medium";
    --font-family-roboto-regular: "Roboto-Regular";
    --font-family-roboto_mono: "Roboto Mono";
    --font-family-roboto_mono-regular: "Roboto Mono-Regular";
  }
  
  /* Classes */
  
  .roboto-normal-log-cabin-56px {
    color: var(--log-cabin);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xxxl);
    font-weight: 400;
    font-style: normal;
  }
  .roboto-bold-black-18px {
    color: var(--black);
    font-family: var(--font-family-roboto-bold);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
  }
  .subtitle-2 {
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xs2);
    letter-spacing: 0.1px;
    font-weight: 500;
    font-style: normal;
  }
  .roboto-medium-black-14px-2 {
    color: var(--black);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xs2);
    font-weight: 500;
    font-style: normal;
  }
  .subtitle-2 {
    font-family: var(--font-family-roboto-medium);
    font-size: var(--font-size-xs2);
    letter-spacing: 0.1px;
    font-weight: 500;
    font-style: normal;
  }
  .body-2 {
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xs2);
    letter-spacing: 0.25px;
    font-weight: 400;
    font-style: normal;
  }
  .dmsans-normal-amethyst-smoke-16px {
    color: var(--neutral-colorstext-gray);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-s);
    font-weight: 400;
    font-style: normal;
  }
  .robotomono-normal-black-48px {
    color: var(--black);
    font-family: var(--font-family-roboto_mono);
    font-size: var(--font-size-xl2);
    font-weight: 400;
    font-style: normal;
  }
  .headline-6 {
    font-family: var(--font-family-roboto-medium);
    font-size: var(--font-size-l2);
    letter-spacing: 0.15px;
    font-weight: 500;
    font-style: normal;
  }
  .roboto-normal-electric-violet-18px {
    color: var(--x01-primary500);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .roboto-normal-white-18px {
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .subtitle-1 {
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-s);
    letter-spacing: 0.15px;
    font-weight: 400;
    font-style: normal;
  }
  .body-2 {
    font-family: var(--font-family-roboto-regular);
    font-size: var(--font-size-xs2);
    letter-spacing: 0.25px;
    font-weight: 400;
    font-style: normal;
  }
  .headline-6 {
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-l2);
    letter-spacing: 0.15px;
    font-weight: 500;
    font-style: normal;
  }
  .robotomono-medium-white-14px {
    color: var(--x03-on-primary--high-emphasis2);
    font-family: var(--font-family-roboto_mono);
    font-size: var(--font-size-xs2);
    font-weight: 500;
    font-style: normal;
  }
  .robotomono-medium-black-14px {
    color: var(--black);
    font-family: var(--font-family-roboto_mono);
    font-size: var(--font-size-xs2);
    font-weight: 500;
    font-style: normal;
  }
  .dmsans-bold-black-16px {
    color: var(--black);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-s);
    font-weight: 700;
    font-style: normal;
  }
  .robotomono-regular-normal-black-28px {
    color: var(--black);
    font-family: var(--font-family-roboto_mono-regular);
    font-size: var(--font-size-l2);
    font-weight: 400;
    font-style: normal;
  }
  .robotomono-normal-black-28px {
    color: var(--black);
    font-family: var(--font-family-roboto_mono);
    font-size: var(--font-size-l2);
    font-weight: 400;
    font-style: normal;
  }
  .robotomono-normal-black-16px {
    color: var(--black);
    font-family: var(--font-family-roboto_mono);
    font-size: var(--font-size-s);
    font-weight: 400;
    font-style: normal;
  }
  .roboto-bold-black-18px {
    color: var(--black);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
  }
  .roboto-medium-white-14px-2 {
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xs2);
    font-weight: 500;
    font-style: normal;
  }
  .roboto-normal-black-18px {
    color: var(--black);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .roboto-medium-white-14px {
    color: var(--x03-on-primary--high-emphasis2);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xs2);
    font-weight: 500;
    font-style: normal;
  }
  .dmsans-bold-black-20px {
    color: var(--black);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-l2);
    font-weight: 700;
    font-style: normal;
  }
  .dmsans-normal-cadet-blue-16px {
    color: var(--neutral-colorscolor-800);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-s);
    font-weight: 400;
    font-style: normal;
  }
  .roboto-medium-black-14px {
    color: var(--x00-on-surface--high-emphasis);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xs2);
    font-weight: 500;
    font-style: normal;
  }